html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --primary-color: #FFFFFF;
    --secondary-color: #252525;
    --accent-color: #009EE3;
    --theme-overlay: rgba(0, 0, 0, 0.4);
    --accent-overlay: rgba(15, 155, 224, 0.78);
    --text-color:#969696;
}

/* header */
header{
    /* height: 100vh; */
}
nav{
    background-color: var(--theme-overlay);
    
}
.navbar-toggler{
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 1.6rem;
}
.navbar-toggler:focus,.navbar-toggler:active{
    box-shadow: none;
}
 .navbar-brand{
    color: var(--primary-color);
    font-size: 2.2rem;
    font-weight: 600;
 }
 .nav-link{
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 300;
 }

 .carousel-item img{
    height: 100vh;
    width: 100vh;
    max-height: 370px;
 }
 .controll-carousel span{
    border: 1px solid var(--primary-color);
    padding: 20px;
 }
 .controll-carousel span:hover{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    transition-duration: 1s;
    transition-delay: 0.2s;
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
 }
 .carousel-caption h2{
    font-size: 2.5rem;
    font-weight: 500;
 }
 .carousel-caption p{
    font-size: 2rem;
    font-weight: 400;
 }
 .carousel-caption button,.mor{
    background-color: var(--accent-overlay);
    font-size: 1.8rem;
    position: relative;
}
.carousel-caption button span,.mor span{
     color: var(--primary-color);
    position: relative;
    z-index: 1;
    transition-duration: 0.3s;
 }
 .carousel-caption button::after,.mor::after{
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    top: 0;
    left: 0;
    bottom: 0;
    right: 100%;
    z-index: 0;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
 }
 .carousel-caption button:hover::after,.mor:hover::after{
    right: 0;
 }
 .carousel-caption button:hover span,.mor:hover span{
    color: var(--accent-color);
 }
/* -/ header */



/* main */

/* welcome */
#welcome{
    background-color: var(--accent-color);
    padding-top: 70px;
    padding-bottom: 70px;
}
#welcome .head{
    margin-bottom: 25px;
}
#welcome .head h2{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 2.2rem;
}
#welcome .content p{
    color: var(--primary-color);
    font-size: 1.8rem;
}
#carouselExampleControlsNoTouching{
    padding-bottom: 4rem;
}
.slider-coltroll-btn{
    border: 1px solid var(--primary-color);
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 8px;
    display: flex;
}
.welcom-img{
    width: 120px;
}
.mor{
    margin-left: 63%;
    background-color: transparent;
    border: 1.5px solid var(--primary-color);
}
/* -/welcome */

/* service */
#service,#featured,#peopleSay,#pricing{
    padding-top: 70px;
    padding-bottom: 70px;
}
#service .head,#featured .head,#peopleSay .head,#pricing .head{
    text-align: center;
    display: flex;
    gap: 30px;
}
#service .head hr,#featured .head hr,#peopleSay .head hr,#pricing .head hr{
    accent-color: var(--accent-color);
    width: 100px;
    height: 2px;
    color: var(--accent-color);
    border: none;
}
#service .head h2,#featured .head h2,#peopleSay .head h2,#pricing .head h2{
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 3px;
}
#service .head p,#featured .head p,#pricing .head p{
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--text-color);
}
#service .card{
    padding: 20px;
    display: flex;
}
#service .card .icon-box{
    border: 1px solid transparent;
    width: max-content;
    height: max-content;
    padding: 5px 12px;
    transform: rotate(60deg);
    transition: 0.5s;
}
#service .card .icon-box:hover{
    border: 1px solid blue;

}
#service .card .icon-box i{
    font-size: 3rem;
}
#service .card .icon-box i::before{
    transform: rotate(-60deg);
}
#service .card .card-body h5{
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    color: var(--secondary-color);
}
#service .card .card-body .card-text{
    font-size: 1.8rem;
    text-align: center;
    font-weight: 500;
    color: var(--text-color);
}
/* -/service */

/* featured */
.card-innerbody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top-card{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    transform: translateY(-100%);
    transition-duration: 0.7s;
}
.top-card i{
    background-color: white;
    color: black;
    font-size: 2rem;
    padding: 8px 15px;
    cursor: pointer;
    transition-duration: .4s;
}
.top-card i:hover{
    background-color: var(--accent-color);
}
#featured .card{
    cursor: pointer;
}
#featured .card-img-overlay{
    padding: 0;
}
.bottom-card{
    height: 60%;
    background-color: var(--theme-overlay);
    transform: translateY(100%);
    transition-duration: .7s;
}
.bottom-card h5{
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
}
.bottom-card p{
    color: var(--primary-color);
    font-size: 1.4rem;
}

#featured .card:hover .top-card{
    transform: translateY(0);
}
#featured .card:hover .bottom-card{
    transform: translateY(0);
}
/* -/ featured */

/* what people say */
#peopleSay{
    background-image: linear-gradient(var(--accent-overlay),var(--accent-overlay)),url('assetes/testimonial.jpg');
    background-repeat: no-repeat,no-repeat;
    background-position: center center,center center;
    background-size: cover,cover;
    background-attachment: scroll,fixed;
}
#peopleSay .head h2,#peopleSay .head hr{
    color: var(--primary-color);
}
.carousel-content{
    max-width: 750px;
    margin: auto;
}
#peopleSay .client-image{
    width: 120px;
    height: 120px;
    border: 3px solid var(--text-color);
}
.quation-content .content h3{
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}
.quation-content .content{
    max-width: 620px;
    position: relative;
    padding-bottom: 30px;
}
.quation-content .content::before{
    content: '';
    width: 45px;
    height: 33px;
    background-image: url('assetes/quotes.png');
    background-repeat: no-repeat;
    position: absolute;
    left: -20px;
    top: 25px;
    display: none;
}
.quation-content .content::after{
    content: '';
    width: 45px;
    height: 33px;
    background-image: url('assetes/quotes.png');
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    bottom: 0px;
    right: -20px;
    display: none;
}
.quation-content .content p{
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    padding: 0 20px 0 20px;
}
.quation-content,.quation-content .content{
    gap: 40px;
}
.carousel{
    margin-top: 40px;
    position: relative;
}
.slider-btn-content{
    border: 1px solid var(--primary-color);
    width: 70px;
    height: 50px;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}
.slider-btn-content button{
    color: var(--primary-color);
    font-size: 2rem;
    padding: 4px 8px;
    text-align: center;
    width: 30px;
}
/* -/ what people say */

/* pricing */
#pricing .card .list-group-item{
    text-align: center;
    text-transform: uppercase;
    padding: 25px 0;
    font-size: 1.6rem;
    color: var(--text-color);
}
#pricing .card .card-head{
    color: var(--secondary-color);
    font-size: 2.4rem;
}
#pricing .card .sub{
    font-size: 2.2rem;
}
#pricing .card .figure{
    font-size: 3.2rem;
}
#pricing .card .tim{
    font-size: 1.6rem;
}
#pricing .card .card-footer{
    padding: 25px 0;
}
#pricing .card .card-footer:hover{
    background-color: var(--accent-color);

}
#pricing .card .card-footer a{
    font-size: 1.6rem;
    width: 100%;
    background-color: transparent;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
}
#pricing .card .card-footer:hover a{
    background-color: var(--accent-color);
    color: var(--primary-color);
}
#pricing .card .list-group-item.offerd{
    background-color: var(--accent-color);
    color: var(--primary-color);
}
#pricing .card .card-footer.offerd{
    background-color: var(--accent-color);
}
#pricing .card .card-footer.offerd a{
    color: var(--primary-color);
}
.offerd-shado{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#pricing .container{
    margin
}

/* -/ pricing */


/* -/ main */

/* overlay Window */
#overlay{
    background-color: #252525e3;
    position: sticky;
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    bottom: 0;
    left: 0;
}
.overlay-carousel .card img{
    height: 60vh;
    width: 100%;
}
.overlay-carousel .card .card-body h5{
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 600;
}
.overlay-carousel .card .card-body p{
    color: var(--secondary-color);
    font-size: 1.4rem;
    font-weight: 500;
}
.ocerlay-cross{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    z-index: 10000;
    top: 10%;
    right: 10%;
    font-size: 2rem;
}
/* -/overlay Window */



/* sm */
@media screen and (min-width: 577px){
    .position-sm-static{
        position: static !important;
    }
    .position-sm-relative{
        position: relative !important;
    }
    .position-sm-fixed{
        position: fixed !important;
    }
    .position-sm-absolute{
        position: absolute !important;
    }
    .position-sm-sticky{
        position: sticky !important;
    }

   
}
/* md */
@media screen and (min-width: 769px){
    .position-md-static{
        position: static !important;
    }
    .position-md-relative{
        position: relative !important;
    }
    .position-md-fixed{
        position: fixed !important;
    }
    .position-md-absolute{
        position: absolute !important;
    }
    .position-md-sticky{
        position: sticky !important;
    }


    

    .carousel-item img{
        
        max-height: 570px;
     }
     .quation-content .content::after,.quation-content .content::before{
        display: block;
     }
   
}
/* lg */
@media screen and (min-width: 993px){
    .position-lg-static{
        position: static !important;
    }
    .position-lg-relative{
        position: relative !important;
    }
    .position-lg-fixed{
        position: fixed !important;
    }
    .position-lg-absolute{
        position: absolute !important;
    }
    .position-lg-sticky{
        position: sticky !important;
    }


   
}
/* xl */
@media screen and (min-width: 1200px){
    .position-xl-static{
        position: static !important;
    }
    .position-xl-relative{
        position: relative !important;
    }
    .position-xl-fixed{
        position: fixed !important;
    }
    .position-xl-absolute{
        position: absolute !important;
    }
    .position-xl-sticky{
        position: sticky !important;
    }
}
/* xxl */
@media screen and (min-width: 1401px){
    .position-xxl-static{
        position: static !important;
    }
    .position-xxl-relative{
        position: relative !important;
    }
    .position-xxl-fixed{
        position: fixed !important;
    }
    .position-xxl-absolute{
        position: absolute !important;
    }
    .position-xxl-sticky{
        position: sticky !important;
    }
}